[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# S1066: Collapsible "if" statements should be merged
dotnet_diagnostic.S1066.severity = none
